/*css重置*/
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, tr, img, div, dl, dt, dd, input, label, figure {
    margin: 0;
    padding: 0;
}

*,*:after,*:before {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: "Arial", "Microsoft YaHei", sans-serif;
}

img {
    border: none;
}

li {
    list-style: none;
}

input, select, textarea, button {
    background: none;
    /*解决输入框兼容问题*/
    outline: none;
    /*聚焦时样式*/
    border: none;
    /*盒子模型*/
    vertical-align: middle
    /*对不齐的问题*/
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "\200b";
    display: block;
    height: 0;
    clear: both;
}
/* css重置完成 */

/*图片导入*/
.img {
	background: url(task_26.png) no-repeat;
	display: inline-block;
}

.planet {
	width: 300px;
	height: 300px;
	background-position: 0 0;
}
/*图片导入结束*/

/*页面开始*/

/*整体宽度控制*/
.wrapper {
	width: 600px;
	height: 1000px;
	margin: 0 auto;
}

.display {
	width: 600px;
	height: 600px;
	position: relative;	
}

.planet {
	left: 150px;
	top: 150px;
	position: absolute;
}

.control {
	width: 600px;
	margin-top: 30px;
	padding: 20px;
	border: 1px solid #000000;
}

button {
	padding: 10px;
	border: 1px solid #878787;
	border-radius: 10px;
}

.ship {
	width: 140px;
	height: 60px;
	left: -70px;
	top: -30px;
	background-position: -300px 0;
}