/*css重置*/
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, tr, img, div, dl, dt, dd, input, label, figure {
    margin: 0;
    padding: 0;

}

*,*:after,*:before {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
    font-family: "Arial", "Microsoft YaHei", sans-serif;
    font-size: 0;
}

img {
    border: none;
}

li {
    list-style: none;
}

input, select, textarea, button {
    background: none;
    /*解决输入框兼容问题*/
    outline: none;
    /*聚焦时样式*/
    border: none;
    /*盒子模型*/
    vertical-align: middle
    /*对不齐的问题*/
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "\200b";
    display: block;
    height: 0;
    clear: both;
}
/* css重置完成 */
body {
    width: 10.8rem;
    height: 100%;
}

.calendar {
    width: 10.8rem;
    height: 11.22rem;
}

.calendarHead {
    width: 10.8rem;
    height: 1.49rem;
    color: #FFFFFF;
}

.headMYD {
    position: relative;
}

.headMonth {
    position: absolute;
    line-height: 1.49rem;
    left: 0.5rem;
}

.headYear {
    left: 2.1rem;
    position: absolute;
    line-height: 1.15rem;
}

.headDate {
    left: 2.1rem;
    position: absolute;
    line-height: 1.85rem;
}

.calendarTitle {
    width: 10.8rem;
    height: 0.82rem;
    text-align: center;
    color: #FFFFFF;
    border-collapse:collapse;    
}

.calendarShow {
    width: 10.8rem;
    height: 8.91rem;
    text-align: center;
    font-family: "SimHei";
    border-collapse:collapse;
}

.br {
    width: 10.8rem;
    height: 0.24rem;
    background-color: #f0f0f0;
}

.normalName {
    color: #000000;
}

.greyName {
    color: #999999;
}

.aboutme {
    font-size: 16px;
}

@media screen and (max-width: 299px) {
    .headMonth {
        font-size: 18.72px;
    }
    .headYear,
    .headDate {
        font-size: 7.025px;
    }
    .calendarTitle {
        font-size: 7.4px;
    }
    .calendarShow {
        font-size: 12px;
    }
}

@media screen and (min-width: 300px) and (max-width: 339px) {
    .headMonth {
        font-size: 20.72px;
    }
    .headYear,
    .headDate {
        font-size: 7.025px;
    }
    .calendarTitle {
        font-size: 7.4px;
    }
    .calendarShow {
        font-size: 14px;
    }
}

@media screen and (min-width: 340px) and (max-width: 399px) {
    .headMonth {
        font-size: 22.72px;
    }
    .headYear,
    .headDate {
        font-size: 9.025px;
    }
    .calendarTitle {
        font-size: 7.4px;
    }
    .calendarShow {
        font-size: 16px;
    }
}

@media screen and (min-width: 400px) {
    .headMonth {
        font-size: 26.72px;
    }
    .headYear,
    .headDate {
        font-size: 11.025px;
    }
    .calendarTitle {
        font-size: 9.4px;
    }
    .calendarShow {
        font-size: 20px;
    }
}