body {
    padding: 10px;
}

* {
    box-sizing: border-box;
}

div {
    margin: 10px;
}

#list {
        padding: 0;
        display: table-cell;
        vertical-align: bottom;
        height: 500px;
        border: 1px solid #333;
        width: 700px;
        overflow: hidden;
        white-space:nowrap;
    }

#list li {
    list-style: none;
    width: 1.3%;
    margin: 1px;
    border: 1px solid #789;
    display: inline-block;
}
