/*css重置*/
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, tr, img, div, dl, dt, dd, input, label, figure {
    margin: 0;
    padding: 0;

}

*,*:after,*:before {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body {
    font-family: "Arial", "Microsoft YaHei", sans-serif;
    font-size: 0;
}

img {
    border: none;
}

li {
    list-style: none;
}

input, select, textarea, button {
    background: none;
    /*解决输入框兼容问题*/
    outline: none;
    /*聚焦时样式*/
    border: none;
    /*盒子模型*/
    vertical-align: middle
    /*对不齐的问题*/
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "\200b";
    display: block;
    height: 0;
    clear: both;
}
/* css重置完成 */
.wrap {
    margin: 0 auto;
    width: 5.0rem;
    height: 100%
}

.chessTable {
    width: 5.0rem;
    height: 5.0rem;
    border-collapse: collapse;
}

.chessTable tr,
.chessTable td {
    width: 0.454rem;
    height: 0.454rem;
    border: 1px solid #000000;
    font-size: 14px;
    text-align: center;
    position: relative;
}

.chess {;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #7FFFD4, #B9D3EE);
    position: absolute;
    left: 0;
    top: 0;
}

.input {
    margin-top: 0.1rem;
    padding-left: 0.1rem;
    width: 3rem;
    height: 0.454rem;
    border: 1px solid #cccccc;
    border-radius: 0.1rem;
    float: left;
    font-size: 16px;
}

.input:focus {
    border-color: #9FB6CD;
}

.button {
    margin-top: 0.1rem;
    width: 0.8rem;
    height: 0.454rem;
    border: 1px solid #cccccc;
    border-radius: 0.1rem;
    float:  right;
    background-color: #cccccc;
}

.button:hover {
    background-color: #cccccc;
    color: #000000;
}

.button:active {
    font-weight: bold;
    background-color: #AAAAAA;
}